<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MỘC KIẾN QUỐC
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel="stylesheet", href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      //- header
      //-   section.header-top
      //-     .container
      //-       .row
      //-         .col-lg-6.col-md-8.d-none.d-md-block
      //-           h5 Chào mừng quý khách đến với Vệ sinh công nghiệp Hoàng Gia
      //-         .col-lg-6.col-md-4.text-center.text-lg-right
      //-           .search
      //-             form(action="")
      //-               input(type="text", placeholder="Nhập từ khóa . . .")
      //-               button
      //-                 i.mdi.mdi-magnify
                  
      //-           .toggleMenu.d-block.d-xl-none
      //-             i.mdi.mdi-menu
                
      //-           .search-btn.d-block.d-xl-none
      //-             i.mdi.mdi-magnify
        
      //-   section.header-bottom
      //-     .container
      //-       .row
      //-         .col-lg-3.col-md-4
      //-           .hotline
      //-             h5 Liên hệ hotline:
      //-             h3
      //-               a(href='tel:0909383939') 
      //-                 i.mdi.mdi-phone-classic.d.inline-block.d-md-none.mr-2
      //-                 | 0909 38 39 39
      //-         .col-lg-6.col-md-4.text-center
      //-           .logo
      //-             a(href='index.html')
      //-               img(src='../img/logo.png')
      //-         .col-lg-3.col-md-4.text-right
      //-           .contact
      //-             h5 Yêu cầu ngay
      //-             h3
      //-               a(href='lien-he.html') Một dịch vụ
            


      //-   section.menu.wow
      //-     .container
      //-       .main-menu
      //-         ul.nav
      //-           .nav-close
      //-             i.mdi.mdi-close.d-block.d-xl-none
      //-           li.nav-item
      //-             a.nav-link(href='index.html') Trang chủ
      //-           li.nav-item
      //-             a.nav-link(href='gioi-thieu.html') Giới thiệu
      //-           li.nav-item
      //-             a.nav-link(href='dich-vu-ve-sinh-cong-nghiep.html') Dịch vụ vệ sinh công nghiệp
      //-           li.nav-item
      //-             a.nav-link(href='hoa-chat-cha-san.html') Hóa chất
      //-           li.nav-item
      //-             a.nav-link(href='san-pham.html') 
      //-               | Cung cấp máy móc
      //-               i.mdi.mdi-chevron-down
                  
      //-             ul
      //-               li
      //-                 a(href='san-pham.html') Xe chà sàn Euromac
      //-               li
      //-                 a(href='san-pham.html') Máy giặt thảm ghế phun hút và liên hợp
      //-               li
      //-                 a(href='san-pham.html') Xe chà sàn Euromac
      //-               li
      //-                 a(href='san-pham.html') Máy giặt thảm ghế phun hút và liên hợp
      //-               li
      //-                 a(href='san-pham.html') Xe chà sàn Euromac
      //-               li
      //-                 a(href='san-pham.html') Máy giặt thảm ghế phun hút và liên hợp
      //-               li
      //-                 a(href='san-pham.html') Xe chà sàn Euromac
      //-               li
      //-                 a(href='san-pham.html') Máy giặt thảm ghế phun hút và liên hợp
      //-               li
      //-                 a(href='san-pham.html') Xe chà sàn Euromac
      //-               li
      //-                 a(href='san-pham.html') Máy giặt thảm ghế phun hút và liên hợp
                    

      //-           li.nav-item
      //-             a.nav-link(href='tin-tuc.html') Tin tức
      //-           li.nav-item
      //-             a.nav-link(href='khach-hang.html') Khách hàng
      //-           li.nav-item
      //-             a.nav-link(href='lien-he.html') Liên hệ
              
                

      //-   .overlay-menu

        
    article
      block article


    
    block footer
      section.footer
        .container
          .social
            | Theo dõi chúng tôi:
            a(href='#')
              i.mdi.mdi-facebook
            a(href='#')
              i.mdi.mdi-youtube
          .row
            .col-xl-3.col-lg-4.col-sm-6
              .contact
                h4 
                  | thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | 192/41 (số cũ E29 ) Nguyễn Oanh, Cư Xá Ba Son P.17, Q. Gò Vấp, Tp.HCM 

                  li
                    i.mdi.mdi-deskphone
                    | (028) 5446.5679 - 2200.9858 - 6275.9112
                  li
                    i.mdi.mdi-email-outline
                    | euromacvietnam@gmail.com
                  li
                    i.mdi.mdi-note-outline
                    | Mã số thuế: 4757654
            
            .col-xl-3.col-lg-4.col-sm-6
              .link
                h4 
                  | Liên kết nhanh
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Trang chủ
                  li
                    a(href='gioi-thieu.html')
                      i.mdi.mdi-minus
                      | Giới thiệu
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Sản phẩm
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Công trình
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Xưởng
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Tin mới
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Tuyển dụng
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Liên hệ
                  
            .col-xl-2.col-lg-4.col-sm-6
              .policy
                h4 
                  | Chính sách
                  i.mdi.mdi-chevron-down
                ul
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi
                  li
                    a(href='gioi-thieu.html')
                      i.mdi.mdi-minus
                      | Chính sách bảo mật
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi
                  li
                    a(href='index.html')
                      i.mdi.mdi-minus
                      | Chính sách ưu đãi

            .col-xl-4.col-lg-4.col-sm-6
              .news
                h4 
                  | tin mới
                  i.mdi.mdi-chevron-down

                .box-news
                  .box-news-img
                    a(href='chi-tiet-tin-tuc.html')
                      img(src='../img/news-1.png')
                  .box-news-detail
                    h5  
                      a(href='chi-tiet-tin-tuc.html')
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?
                    h4
                      i.mdi.mdi-calendar-outline
                      | 20/04/2019
                .box-news
                  .box-news-img
                    a(href='chi-tiet-tin-tuc.html')
                      img(src='../img/news-1.png')
                  .box-news-detail
                    h5  
                      a(href='chi-tiet-tin-tuc.html')
                        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?
                    h4
                      i.mdi.mdi-calendar-outline
                      | 20/04/2019
                
          .copyright.text-center
            h5 Copyright @ 2019 MỘC KIẾN QUỐC. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/isotope.pkgd.min.js')
      script(src='../js/jquery.hoverdir.js')
      script(src='../js/modernizr.custom.97074.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/layout.js')
