<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>MỘC KIẾN QUỐC</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <article>
    </article>
    <section class="footer">
      <div class="container">
        <div class="social">Theo dõi chúng tôi:<a href="#"><i class="mdi mdi-facebook"></i></a><a href="#"><i class="mdi mdi-youtube"></i></a></div>
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>192/41 (số cũ E29 ) Nguyễn Oanh, Cư Xá Ba Son P.17, Q. Gò Vấp, Tp.HCM </li>
                <li><i class="mdi mdi-deskphone"></i>(028) 5446.5679 - 2200.9858 - 6275.9112</li>
                <li><i class="mdi mdi-email-outline"></i>euromacvietnam@gmail.com</li>
                <li><i class="mdi mdi-note-outline"></i>Mã số thuế: 4757654</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="link">
              <h4>
                 Liên kết nhanh<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Trang chủ</a></li>
                <li><a href="gioi-thieu.html"><i class="mdi mdi-minus"></i>Giới thiệu</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Sản phẩm</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Công trình</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Xưởng</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Tin mới</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Tuyển dụng</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-sm-6">
            <div class="policy">
              <h4>
                 Chính sách<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
                <li><a href="gioi-thieu.html"><i class="mdi mdi-minus"></i>Chính sách bảo mật</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
                <li><a href="index.html"><i class="mdi mdi-minus"></i>Chính sách ưu đãi</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="news">
              <h4>
                 tin mới<i class="mdi mdi-chevron-down"></i></h4>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?</a></h5>
                  <h4><i class="mdi mdi-calendar-outline"></i>20/04/2019</h4>
                </div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, labore?</a></h5>
                  <h4><i class="mdi mdi-calendar-outline"></i>20/04/2019</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 MỘC KIẾN QUỐC. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/isotope.pkgd.min.js"></script>
    <script src="../js/jquery.hoverdir.js"></script>
    <script src="../js/modernizr.custom.97074.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>